<div class="col-12 col-md-3 text-md-end">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#uploadFileModal">
        {{ ux_icon('material-symbols:upload') }}
        Upload File
    </button>
</div>

<twig:UploadFile:ModalComponent />
