<div class=" page-wrapper">
    <div class="page-body">
        <div class="container-xl">
            <p>Hello world</p>
            <twig:Dashboard:MediaTableComponent />
        </div>
    </div>
</div>
